<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model -->
      <package
            uri="http://st.inf.tu-dresden.de/smags"
            class="org.tud.inf.st.smags.model.smags.SmagsPackage"
            genModel="model/model.genmodel"/>
   </extension>

</plugin>
